




@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";


@theme {

  /* COLORS */

  --color-dark: #6d8b74; 
  --color-darker: #5f7161;
  --color-light: #d0c9c0;
  --color-lighter: #efead8;
  --color-accent: #f7f3f0;
  --color-btt: #6d152b;

  /* FONTS   */

  /* --font-heading: "Montserrat", "serif";
  --font-body: "Lora", "serif";  */

  /* --font-heading: "Playfair Display", "serif";
  --font-body: "Source Sans 3", "sans-serif"; */

  /* --font-heading: "Poppins", "sans-serif";
  --font-body: "Lora", "serif"; */

  --font-heading: "Cormorant Garamond", "serif";
  --font-body: "Nunito Sans", "sans-serif";

  /* --font-heading: "Raleway", "sans-serif";
  --font-body: "Open Sans", "sans-serif"; */





  /* @layer components {

  /* BUTTONS */
    /* 
    .btn-rounded {
      @apply bg-primary text-white hover:bg-opacity-90;
    }
    .btn-squared {
      @apply bg-secondary text-black hover:bg-opacity-90;
    }
    
  } */ 


  /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
  /* ... */
}
